<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card mkflr_card">
    <div class="mkflr_card_image">
      <div class="mkflr_card_price d-flex justify-content-center align-items-center">
        <%= product.price %> лв.
      </div>
    </div>
    <div class="mkflr_card_colour"></div>
    <div class="mkflr_card_infos">
      <div class="mkflr_button_quickbuy">
        <%= product.name %>
      </div>
      <div class="mkflr_quantity d-flex justify-content-center align-items-center">
        <%= simple_form_for @order_item do |f| %>
          <%= f.input_field :product_id, value: product.id, as: :hidden %>
          <%= f.input_field :quantity%>
          <%= f.submit "Add to cart" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
