<div class="mkflr_cart_card d-flex justify-content-between">
  <div class="mkflr_cart_card_photo">
    <% if item.product.product_pic.blank? %>
        <%= link_to product_path(item.product) do %>
          <%= image_tag "choco.png", class: "mkflr_product_pic_no_pic_card"%>
        <% end %>
      <% else %>
        <%= link_to product_path(item.product) do %>
          <%= image_tag item.product.product_pic %>
        <% end %>
      <% end %>
  </div>
  <div class="mkflr_cart_card_info">
    <h2 class="mkflr_cart_card_info_header"><%= item.product.name %></h2>
    <p class="mkflr_cart_card_info_desc"><%= item.product.category %></p>
  </div>
  <p><%= link_to "Delete", order_items_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
  <div class="mkflr_cart_card_quantity"><%= item.quantity %></div>
  <div class="mkflr_cart_card_price"></div>
</div>
